<h1> Congratulations <%= @current_player_name %>, you have attacked <%= @non_player_name %>! </h1>

<h3> <%= @non_player_name %> HP: <%= @non_player_hp %> </h3>

<form action='/game'>
<button style='font-size:60px' type='submit' name='Next Turn'>Next Turn</button>
</form>
